<html >
	<head>
		<title>
			<%=title%>
		</title>
	</head>
	<body>
		<h1>Galli lo six yavadu anna kotadu stadium loo kotey vadiki okka range untadhi</h1>
	            <ul>
			<% for(let i=0 ; i<6; i++){%>
				<li>
					<%=  i%>
					</li>
			        <%}%>
			
			</ul>
			<% if (true){%>
                          <h1>IT is true</h1>
                        
			<%}else{%>
			   <p>False bro</p>
			
			<% }%>
			
        </body>
</html>